manifest {
    homePage = 'https://github.com/icgc-argo/sanger-wxs-variant-caller'
    description = 'ICGC ARGO Sanger WXS Variant Calling Pipeline'
    name = 'sanger-wxs-variant-caller'
    version = '0.1.0-dev'
    defaultBranch = version
    nextflowVersion = '>=20.01.0'
}

docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
}
